@model LoginUser;

<center><h1>Login to this Cool Site!</h1></center>
<a href="/">Register</a>


<form action="/login/user" method="post">
    <div class="form-group">
        <span asp-validation-for="LoginEmail"></span>
        <label for="LoginEmail">Email</label>
        <input type="text" asp-for="LoginEmail">
    </div>
    <div class="form-group">
        <span asp-validation-for="LoginPassword"></span>
        <label for="LoginPassword">Password</label>
        <input type="password" asp-for="LoginPassword">
    </div>
    <button class="btn btn-primary">Login</button>
</form>