@{
    ViewData["Title"] = "Home Page";
}

<div class="main-content">
    <div class="register col-6">
        <partial name="RegisterPartial"/>
    </div>
    <div class="login col-6">
        <partial name="LoginPartial"/>
    </div>
</div>